<footer class="p-6" style="background-color: #223843;">
    <div class="container mx-auto">
        <div class="space-y-2">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <div>
                    <h1 class="text-5xl text-white">{{ site.email }}</h1>
                </div>
                <div class="flex flex-col text-white">
                    <h1 class="text-neutral-400 mb-4">Navigation</h1>
                    <div class="hover:text-neutral-300 py-1 cursor-pointer transition-all"><a class="" href="#">About Me</a></div>
                    <div class="hover:text-neutral-300 py-1 cursor-pointer transition-all"><a class="" href="#">Publications</a></div>
                    <div class="hover:text-neutral-300 py-1 cursor-pointer transition-all"><a class="" href="#">Teachings</a></div>
                </div>
            </div>
            <!-- Links -->
            <div class="flex gap-x-8 justify-center text-3xl border-t-[1px] pt-4 border-gray-400">
                <div class=""><a href=""><i class="hover:text-neutral-300 transition-all text-white fab fab fa-facebook-square"></i></a></div>
                <div class=""><a href=""><i class="hover:text-neutral-300 transition-all text-white fab fab fab fa-instagram"></i></a></div>
                <div class=""><a href=""><i class="hover:text-neutral-300 transition-all text-white fab fab fab fa-twitter"></i></a></div>
            </div>
        </div>
    </div>
</footer>