---
layout: default
---
<section class="p-6 md:p-10">
    <div class="container mx-auto">
        <h1 class="text-3xl md:text-4xl">About Me</h1>
        <div class="">
<!--     Commented Out the square pic         -->
<!--             <img src="{{'assets/img/LYJWong_Photo.jpg'}}" class="w-[90%] md:w-full mx-auto" alt=""> -->
            <p class="text-xl md:text-2xl">{{ page.Para-1 }}</p>
        </div>
        <br>
        <p class="text-xl">{{ page.Para-2 }}</p>
        <br>
        <p class="text-xl">{{ page.Para-3 }}</p>
        <br>
        <p class="text-xl">{{ page.Para-4 }}</p>
        <br>
    </div>
</section>
<section class="p-6">
    <div class="container mx-auto">
        <h1 class="text-3xl md:text-4xl">Education</h1>
        <div class="p-2 my-4">
            <h1 class="text-red-900 font-semibold">April 2016 – January 2022</h1>
            <p class="font-semibold">PhD candidate | Erasmus University Rotterdam, The Netherlands</p>
            <ul class="list-disc mx-2">
                <li>Cum Laude</li>
                <li>Best Thesis 2021, awarded by Erasmus Graduate School of Social Sciences and the Humanities</li>
                <li>PhD title: Supporting Self-Regulated Learning Through Instructional Supports and Learning Analytics in Online Higher Education</li>
                <li>Supervisors: Prof. dr. Fred Paas, Dr. Martine Baars, and Dr. Björn de Koning</li>
                <li>The aim of this thesis is twofold: 1) to investigate how self-regulated learning (SRL) can be facilitated in Massive Open Online Courses (MOOCs), and 2) to explore learning analytics as a tool to investigate SRL. The dissertation provides insight into the design, implementation, challenges, and future directions for SRL support in MOOCs as well as the use of learning analytics to measure and facilitate SRL.</li>
            </ul>
        </div>
        <div class="p-2 my-4">
            <h1 class="text-red-900 font-semibold">August 2014 – August 2015</h1>
            <p class="font-semibold">Master of Science in Educational Psychology | Erasmus University Rotterdam, The Netherlands</p>
            <ul class="list-disc mx-2">
                <li>Cum Laude</li>
                <li>Thesis title: Comprehension in Action: Effects of Movements on Text Comprehension</li>
            </ul>
        </div>
        <div class="p-2 my-4">
            <h1 class="text-red-900 font-semibold">July 2006 – July 2008</h1>
            <p class="font-semibold">Bachelor of Arts with Majors in Psychology and Linguistics | University of Queensland, Australia</p>
            <ul class="list-disc mx-2">
                <li>Dean’s commendation for academic excellence 2006-2008</li>
                <li>Brisbane School of Arts Book Prize 2008</li>
            </ul>
        </div>
        <div class="p-2 my-4">
            <h1 class="text-red-900 font-semibold">July 2001 – July 2003</h1>
            <p class="font-semibold">Diploma in Education and Teaching | National Institute of Education, Singapore</p>
        </div>
    </div>
    <div class="space-y-2 mb-10">
        <h1 class="text-center text-3xl md:text-4xl">AWARDS and SCHOLARSHIPS <i class="fab fas fa-award"></i></h1>
        <p class="text-center text-xl font-semibold">Eric Duval Travel Scholarship (2000€ Travel Grant) | Society for Learning Analytics and Research (2018)</p>
    </div>
</section>
